*.local.zsh
.Xresources.local
spacevim/SpaceVim.d/spell/
tmux/.config/tmux/plugins/*
*/__pycache__/*
*.pyc
nvim/.config/nvim/spell/
nvim/.config/nvim/local/
nvim/.config/nvim/*.local.vim
scripts/01_meta/01_setup/.conda_done
scripts/01_meta/01_setup/.env_done
scripts/01_meta/01_setup/.packages_done
git/.config/git/config.local
visidata/.config/visidata/cache
pudb/.config/pudb/*
!pudb/.config/pudb/pudb.cfg
tut/.config/tut/*
!tut/.config/tut/config.ini
btop/.config/btop/btop.log
termux/.termux/font.ttf
termux/.termux/shell
