snippet sec5e "5e.tools section"
	{
		"type": "section",
		"name": "${1:section name}",
		"entries": [
			"$0"
		]
	}

snippet inset5e "5e.tools inset"
	{
		"type": "inset",
		"name": "${1:inset name}",
		"entries": [
			"$0"
		]
	}

snippet list5e "5e.tools list"
	{
		"type": "list",
		"items": [
			"$0"
		]
	}
